.image_container {
  margin-bottom: 24px;
  height: 300px;
  width: 375px;
  position: relative;
  border: 1px solid var(--white);
  border-radius: 4px;
}

.image_blur {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
  height: 100%;
  width: 100%;
  z-index: 75;
  transition: all 75ms ease-in-out;
}

.image_loading {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 55;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.image_loading_loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.image_container > img {
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 95%;
  width: auto;
  padding: 16px 0;
  z-index: 50;
}

@media screen and (max-width: 550px) {
  .image_container {
    width: calc(100% - 32px);
  }
}
