.lose_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  z-index: 250;
}

.lose {
  height: auto;
  width: 350px;
  padding: 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--black);
  border-radius: 4px;
}

.lose_gg {
  width: 60%;
  margin-bottom: 24px;
}

.lose_gg > svg {
  width: 100%;
  height: auto;
}

.info_text {
  font-size: 18px;
  font-weight: 400;
  color: var(--white);
  line-height: calc(18px * 1.5);
  text-align: center;
}

.info_text:first-of-type {
  margin-bottom: 8px;
}

.info_text > span {
  color: #654ce3;
  font-weight: 700;
}

.lose_ctas {
  width: 100%;
  margin-top: 24px;
  display: flex;
  gap: 16px;
}

.lose_ctas > span {
  width: 100%;
}

.restart_cta,
.exit_cta {
  font-size: 16px;
  font-weight: 700;
  padding: 8px 0;
  width: 100%;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.restart_cta {
  border: none;
  background-color: var(--accent);
  color: var(--white);
  outline: none;
  border-radius: 4px;
}

.exit_cta {
  background-color: var(--black);
  border: none;
  color: var(--white);
  outline: none;
  border-radius: 4px;
}

.share {
  height: auto;
  width: 350px;
  padding: 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--black);
  border-radius: 4px;
  gap: 16px;
}

.share > h2 {
  width: 100%;
  font-size: 20px;
  color: var(--white);
}

.share_text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.share_text > p {
  font-size: 16px;
  font-weight: 300;
  color: var(--white);
  line-height: calc(18px * 1.5);
}

.share > button {
  font-size: 16px;
  font-weight: 700;
  padding: 8px 0;
  width: 100%;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
