.wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(15, 15, 15);
  background-position: center;
}

.menu_container_wrapper {
  position: relative;
  width: 100%;
  max-width: 550px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
}

.menu_container_image {
  position: absolute;
  z-index: 25;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.75);
}

.menu_container {
  width: 375px;
  height: auto;
  position: absolute;
  z-index: 50;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu {
  width: 100%;
  height: auto;
  background-color: var(--black-op);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 32px 16px 32px 16px;
  border-radius: 4px;
}

.menu_logo {
  width: 275px;
}

.menu_logo > svg {
  width: 100%;
  height: auto;
}

.menu_modes {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  list-style: none;
}

.menu_modes > li {
  width: 175px;
}

.menu_modes > li > a {
  text-decoration: none;
}

.menu_modes > li > a > button {
  display: flex;
  align-items: center;
  gap: 16px;
  background: linear-gradient(
    45deg,
    #3a2b93 0%,
    #513db2 20%,
    #513db2 80%,
    #3a2b93 100%
  );
  box-shadow: none;
  transition: box-shadow 200ms ease-in-out;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
}

.menu_modes > li > a > button:hover {
  box-shadow: 0 0 8px rgba(122, 102, 218, 0.25),
    0 0 16px rgba(141, 124, 224, 0.45);
}

.menu_modes > li > a > button > div {
  background: linear-gradient(
    45deg,
    #17113b 0%,
    #201847 20%,
    #201847 80%,
    #17113b 100%
  );
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_modes > li > a > button > div > svg {
  height: 24px;
  width: auto;
}

.menu_modes > li > a > button > span {
  font-size: 16px;
  font-weight: 700;
  color: var(--white);
  line-height: calc(16px * 1.2);
}

.menu_settings {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  list-style: none;
  padding: 0 16px;
}

.menu_settings > li > span > button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_settings > li > span > button > svg {
  height: 16px;
  width: auto;
}

.menu_settings > li > span > button > svg > path {
  fill: var(--white);
}

@media screen and (max-width: 550px) {
  .menu_container {
    width: auto;
  }

  .menu {
    padding: 16px;
  }

  .menu_logo {
    width: 200px;
  }
}

@media screen and (max-width: 300px) {
  .menu_container {
    width: 100%;
  }
}

@media screen and (max-width: 240px) {
  .menu_modes > li {
    width: 100%;
  }

  .menu {
    gap: 16px;
  }

  .menu_logo {
    width: 100%;
  }
}
