.image_container {
  margin-bottom: 24px;
  height: 300px;
  width: 375px;
  position: relative;
  border: 1px solid var(--white);
  border-radius: 4px;
  overflow: hidden;
}

.image_container > img {
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 95%;
  width: auto;
  padding: 16px 0;
  z-index: 50;
  transform: scale(7);
  transform-origin: center center;
  transition: all 200ms ease-in-out;
}

.image_loading {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 55;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.image_loading_loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.invalid_device_wrapper {
  background: radial-gradient(circle, #201557 20%, #191044 50%, #120b30 80%);
  width: 100%;
  max-width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.invalid_device {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 75%;
}

.invalid_device > h1 {
  color: var(--white);
  font-size: 24px;
  font-weight: 700;
  line-height: calc(24px * 1.2);
}

.invalid_device > p {
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  line-height: calc(16px * 1.5);
  margin: 8px 0 24px 0;
}

.invalid_device > a {
  text-decoration: none;
}

.invalid_device > a > button {
  color: var(--black);
  background-color: var(--white);
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  padding: 6px;
  text-align: start;
  cursor: pointer;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-height: 630px) and (orientation: landscape) {
  .image_container {
    height: 200px;
    margin-bottom: 8px;
  }
}

@media only screen and (max-height: 499px) and (orientation: landscape) {
  .image_container {
    height: 100px;
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 550px) {
  .image_container {
    width: calc(100% - 32px);
  }
}
