.lose_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 250;
}

.lose {
  position: absolute;
  height: auto;
  width: auto;
  padding: 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 100;
  background-color: var(--white);
  border-radius: 4px;
}

.lose > h3 {
  font-size: 24px;
  color: var(--accent);
}

.lose_streak {
  font-size: 16px;
  font-weight: 400;
  color: var(--black);
  margin: 32px 0;
}

.lose_last_card {
  font-size: 16px;
  font-weight: 400;
  color: var(--accent);
  cursor: pointer;
  margin-bottom: 16px;
}

.lose_image {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lose_image_svg {
  height: 80%;
  width: auto;
}

.lose_image_svg > svg {
  height: 100%;
  width: auto;
}

.lose_image_svg > svg > path {
  fill: var(--black);
  opacity: 0.5;
}

.lose_image > img {
  height: 100%;
  width: auto;
}

.lose_ctas {
  margin-top: 32px;
  display: flex;
  gap: 16px;
}

.lose_ctas > span {
  width: 148px;
}

.restart_cta,
.exit_cta {
  font-size: 16px;
  font-weight: 700;
  padding: 8px 0;
  width: 125px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.restart_cta {
  border: none;
  background-color: var(--accent);
  color: var(--white);
  outline: none;
  border-radius: 4px;
}

.exit_cta {
  background-color: var(--black);
  border: none;
  color: var(--white);
  outline: none;
  border-radius: 4px;
}
