.wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(15, 15, 15);
  background-position: center;
}

.container {
  position: relative;
  width: 100%;
  max-width: 550px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game_container_wrapper {
  width: 100%;
  min-height: 100%;
  position: relative;
}

.game_settings {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 30;
  width: 187px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  list-style: none;
}

.game_settings > li > span > button,
.game_settings > li > a > button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game_settings > li > span > button > svg,
.game_settings > li > a > button > svg {
  height: 16px;
  width: auto;
}

.game_settings > li > span > button > svg > path,
.game_settings > li > a > button > svg > path {
  fill: var(--white);
}

.game_container_image {
  position: absolute;
  z-index: 25;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.75);
}

.game_container {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 50;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.invalid_device_wrapper {
  background: radial-gradient(circle, #201557 20%, #191044 50%, #120b30 80%);
  width: 100%;
  max-width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.invalid_device {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 75%;
}

.invalid_device > h1 {
  color: var(--white);
  font-size: 24px;
  font-weight: 700;
  line-height: calc(24px * 1.2);
}

.invalid_device > p {
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  line-height: calc(16px * 1.5);
  margin: 8px 0 24px 0;
}

.invalid_device > a {
  text-decoration: none;
}

.invalid_device > a > button {
  color: var(--black);
  background-color: var(--white);
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  padding: 6px;
  text-align: start;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .container {
    width: 100%;
    max-width: 100%;
  }
}
