* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black: hsla(257, 78%, 7%, 1);
  --black-op: hsla(257, 78%, 7%, 0.5);
  --white: hsla(227, 46%, 97%, 1);
  --accent-light: hsla(250, 52%, 45%, 1);
  --accent: rgb(77, 46, 236);
}

body {
  background-color: #0f0f0f;
}

h2,
p,
span {
  color: black;
}

*::-webkit-scrollbar {
  width: 1em;
  border-radius: 4px;
}

*::-webkit-scrollbar-track {
  background-color: var(--white);
  border-radius: 0px 4px 4px 0px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border: 6px solid var(--white);
  border-radius: 4px;
}

/* CTAS STYLING */

.primary_cta,
.secondary_cta {
  font-size: 16px;
  font-style: italic;
  font-weight: 700;
  color: var(--white);
  padding: 12px 16px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
}

.primary_cta {
  background: linear-gradient(
    45deg,
    #3a2b93 0%,
    #513db2 20%,
    #513db2 80%,
    #3a2b93 100%
  );
  box-shadow: none;
  transition: box-shadow 200ms ease-in-out;
}

.primary_cta:hover {
  box-shadow: 0 0 8px rgba(122, 102, 218, 0.25),
    0 0 16px rgba(141, 124, 224, 0.45);
}

.secondary_cta {
  background: linear-gradient(
    45deg,
    #3a2b93 0%,
    #513db2 20%,
    #513db2 80%,
    #3a2b93 100%
  );
  box-shadow: none;
  transition: box-shadow 200ms ease-in-out;
}

.secondary_cta:hover {
  box-shadow: 0 0 8px rgba(122, 102, 218, 0.25),
    0 0 16px rgba(141, 124, 224, 0.45);
}

.menu_container_loading_image {
  position: absolute;
  z-index: 30;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #201557 20%, #191044 50%, #120b30 80%);
}

.game_loading_wrapper {
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, #201557 20%, #191044 50%, #120b30 80%);
}

.game_loading_wrapper > span {
  color: var(--white);
  font-size: 16px;
  line-height: calc(16px * 1.2);
  font-weight: 400;
}

/* LOADING SCREEN STYLING */

.loading_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(15, 15, 15);
  z-index: 2500;
  display: flex;
  justify-content: center;
}

.loading {
  width: 100%;
  max-width: 550px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  background: radial-gradient(
    circle,
    #201557 20%,
    #191044 40%,
    #120b30 60%,
    #0b071d 80%
  );
}

.loading_logo {
  width: 275px;
}

.loading_logo > svg {
  width: 100%;
  height: auto;
}

.loading_loader,
.loading_loader:before,
.loading_loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loading_loader {
  color: var(--white);
  font-size: 2px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loading_loader:before,
.loading_loader:after {
  content: "";
  position: absolute;
  top: 0;
}
.loading_loader:before {
  left: -4.5em;
  animation-delay: -0.32s;
}
.loading_loader:after {
  left: 4.5em;
}

@keyframes bblFadInOut {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
